body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E90FF; /* Electric Blue */
    color: white;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.user-options button {
    margin-left: 10px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #1900ff28; /* Darker Electric Blue */
    color: white;
    transition: width 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar li:hover {
    background-color: #0056b3; /* Even Darker Blue */
}

.sidebar-toggle {
    display: none;
    background-color: #007bffba;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #047dff;
    color: white;
}

@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar ul {
        display: none;
    }

    .sidebar-toggle {
        display: block;
    }
}
